.background {
    background: rgb(11, 9, 38) url(../Background-image/BG.jpg) center center/cover repeat;
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
}

.C-GD {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: column;
    color: #994caf;  
}

.button-GD{
    transition-duration: 0.4s;
    color: #e9ee90;
    background-color: #994caf;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    height: 50px;
    width: 150px;
    }
.button-GD:hover {
    background-color: #e9ee90;
    color: black;
}
.loading{
    color: #994caf;
}

